data/nodered/flows.json
[{"id":"2b34f6d7.bc7e8a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"908b7f3a.1fb28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7c9fdfe4.35b54","type":"ui_group","z":"","name":"Default","tab":"908b7f3a.1fb28","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e8ea362.42c63c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4b4eea72.21c1d4","type":"ui_tab","z":"","name":"UI2","icon":"dashboard","disabled":false,"hidden":false},{"id":"9ead6f7d.bea62","type":"ui_group","z":"","name":"Default","tab":"4b4eea72.21c1d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"d32910a.c6f6cf","type":"tcp in","z":"2b34f6d7.bc7e8a","name":"Server holding connections at :1025","server":"server","host":"","port":"1025","datamode":"stream","datatype":"utf8","newline":"\\r\\n","topic":"text","base64":false,"x":180,"y":300,"wires":[["124a2946.e93b87","daead1d0.a691d"]]},{"id":"1a4438e8.f27ad7","type":"tcp out","z":"2b34f6d7.bc7e8a","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: all open connections will be messaged","x":1310,"y":300,"wires":[]},{"id":"124a2946.e93b87","type":"function","z":"2b34f6d7.bc7e8a","name":"Pathfinder reply","func":"switch (msg.payload) {\n    case 'GET supv state':\n        msg.payload = 'INDI SUPV VERSION=\"1.2.2e\", STATE=Ready\\r\\n';\n        break;\n    case 'GET AppControl ShowProfList':\n        msg.payload = 'ACK $STATUS=UNKNOWN_OBJECT\\r\\n';\n        break;\n    case 'LOGIN unit user=\"user\",pwd=\"\"':\n        msg.payload = 'ACK $STATUS=UNKNOWN_OBJECT\\r\\n';\n        break;\n    case 'GET AppControl ShowProfID,ShowProfName,ShowProfStat':\n        msg.payload = 'ACK $STATUS=UNKNOWN_OBJECT\\r\\n';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":300,"wires":[["1a4438e8.f27ad7"]]},{"id":"2f74ed9e.fe74c2","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"7c9fdfe4.35b54","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"1","payloadType":"num","topic":"","x":810,"y":420,"wires":[["c2ebdb4a.652a08"]]},{"id":"9c0830c8.28f19","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"7c9fdfe4.35b54","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"2","payloadType":"num","topic":"","x":810,"y":480,"wires":[["c2ebdb4a.652a08"]]},{"id":"9addf524.e01f48","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"7c9fdfe4.35b54","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"3","payloadType":"num","topic":"","x":810,"y":540,"wires":[["c2ebdb4a.652a08"]]},{"id":"daead1d0.a691d","type":"function","z":"2b34f6d7.bc7e8a","name":"Main processor","func":"if (msg.payload.startsWith('SET ')) {\n    let re = /.+MOD_USER#(?<user>\\d+).BUT#(?<button>\\d+) (?<command>\\S+)=(?<value>.+)/gm;\n    let match = re.exec(msg.payload);\n    if (match) {\n        switch (match.groups.command) {\n            case 'BACKCOLORON':\n                let bgONcol = match.groups.value.slice(1,-1);\n                let [bgON_r, bgON_g, bgON_b] = bgONcol.split(',');\n                let bgON_r_hex = parseInt(bgON_r).toString(16);\n                let bgON_g_hex = parseInt(bgON_g).toString(16);\n                let bgON_b_hex = parseInt(bgON_b).toString(16);\n                context.global.buttons[match.groups.button].backcoloron = '#' + (bgON_r_hex.length < 2 ? '0' + bgON_r_hex : bgON_r_hex) + (bgON_g_hex.length < 2 ? '0' + bgON_g_hex : bgON_g_hex) + (bgON_b_hex.length < 2 ? '0' + bgON_b_hex : bgON_b_hex);\n                break;\n            case 'BACKCOLOROFF':\n                let bgOFFcol = match.groups.value.slice(1,-1);\n                let [bgOFF_r, bgOFF_g, bgOFF_b] = bgOFFcol.split(',');\n                let bgOFF_r_hex = parseInt(bgOFF_r).toString(16);\n                let bgOFF_g_hex = parseInt(bgOFF_g).toString(16);\n                let bgOFF_b_hex = parseInt(bgOFF_b).toString(16);\n                context.global.buttons[match.groups.button].backcoloroff = '#' + (bgOFF_r_hex.length < 2 ? '0' + bgOFF_r_hex : bgOFF_r_hex) + (bgOFF_g_hex.length < 2 ? '0' + bgOFF_g_hex : bgOFF_g_hex) + (bgOFF_b_hex.length < 2 ? '0' + bgOFF_b_hex : bgOFF_b_hex);\n                break;\n            case 'TEXT':\n                context.global.buttons[match.groups.button].text = match.groups.value.slice(1,-1);\n                break;\n            case 'IND':\n                context.global.buttons[match.groups.button].ind = match.groups.value;\n        }\n    } else {\n        node.warn('Regexp is null: ' + msg.payload);\n    }\n}\n\nfor (let idx in context.global.buttons) {\n    if (context.global.buttons[idx]) {\n        context.global.buttons[idx].update();\n        if (context.global.buttons[idx].updated) {\n            node.send(context.global.buttons[idx].state());\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nclass button {\n    constructor(id) {\n        this._backcoloron = '#FFFFFF';\n        this._backcoloroff = '#000000';\n        this._ind = 'OFF';\n        this._text = '';\n        this._lastupdate = Date.now();\n        this._updated = false;\n        this._bgstate = false;\n        this._id = id;\n    }\n    \n    get backcoloron() {\n        return this._backcoloron;\n    }\n    \n    set backcoloron(value) {\n        this._backcoloron = value;\n        // this._updated = true;\n    }\n    \n    get backcoloroff() {\n        return this._backcoloroff;\n    }\n    \n    set backcoloroff(value) {\n        this._backcoloroff = value;\n        this._updated = true;\n    }\n    \n    get ind() {\n        return this._ind;\n    }\n    \n    set ind(value) {\n        this._ind = value;\n        switch (value) {\n            case 'ON':\n                this._bgstate = true;\n                break;\n            case 'OFF':\n                this._bgstate = false;\n                break;\n        }\n        this._updated = true;\n    }\n    \n    get text() {\n        return this._text;\n    }\n    \n    set text(value) {\n        this._text = value;\n        this._updated = true;\n    }\n    \n    get updated() {\n        return this._updated;\n    }\n    \n    get bgstate() {\n        return this._bgstate;\n    }\n    \n    update() {\n        if (this._ind == 'FLASH') {\n            if ((Date.now() - this._lastupdate) > 500) {\n                this._bgstate = !this._bgstate;\n                this._updated = true;\n                this._lastupdate = Date.now();\n            }\n        }\n    }\n    \n    state() {\n        this._updated = false;\n        let state = {};\n        switch (this._ind) {\n          case 'ON':\n            state.bgcol = this._backcoloron;\n            break;\n          case 'OFF':\n            state.bgcol = this._backcoloroff;\n            break;\n          case 'FLASH':\n            if (this._bgstate) {\n                state.bgcol = this._backcoloron;\n            } else {\n                state.bgcol = this._backcoloroff;\n            }\n            break;\n        }\n        state.label = this._text;\n        state.id = this._id;\n        return state;\n    }\n}\n\nlet buttons = [];\n\nfor (var i=1;i<18;i++) {\n    buttons[i] = new button(i);\n}\n\ncontext.global.buttons = buttons;","finalize":"","x":450,"y":480,"wires":[["175b584d.61d0f8","47fbac63.474064","11304e66.e8f192","9bec307a.7470c","9780cf54.214ee","f22d67fc.911018"]]},{"id":"89b8f84e.36af38","type":"inject","z":"2b34f6d7.bc7e8a","name":"updater","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":240,"y":480,"wires":[["daead1d0.a691d"]]},{"id":"175b584d.61d0f8","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":420,"wires":[["2f74ed9e.fe74c2"]]},{"id":"c2ebdb4a.652a08","type":"function","z":"2b34f6d7.bc7e8a","name":"Button pressed","func":"function up() {\n    node.send({payload:`\\r\\nEVENT MOD_USER#1.BUT#${msg.payload} KEY=UP \\r\\n`});\n}\n\nfunction down() {\n    node.send({payload:`\\r\\nEVENT MOD_USER#1.BUT#${msg.payload} KEY=DOWN \\r\\n`});\n    setTimeout(up, 50);\n}\n\n// let test = new Buffer(`EVENT MOD_USER#1.BUT#${msg.payload} KEY=DOWN\\r\\nEVENT MOD_USER#1.BUT#${msg.payload} KEY=UP \\r\\n`, 'base64');\n\ndown();","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":480,"wires":[["1a4438e8.f27ad7"]]},{"id":"47fbac63.474064","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":480,"wires":[["9c0830c8.28f19"]]},{"id":"11304e66.e8f192","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":540,"wires":[["9addf524.e01f48"]]},{"id":"f0917ee1.e869c","type":"status","z":"2b34f6d7.bc7e8a","name":"","scope":["d32910a.c6f6cf"],"x":100,"y":180,"wires":[["52c3319e.c69ef"]]},{"id":"52c3319e.c69ef","type":"ui_text","z":"2b34f6d7.bc7e8a","group":"7c9fdfe4.35b54","order":3,"width":0,"height":0,"name":"","label":"{{msg.status.text}}","format":"","layout":"row-spread","x":310,"y":140,"wires":[]},{"id":"6fc8aeb7.01ced","type":"inject","z":"2b34f6d7.bc7e8a","name":"","props":[{"p":"status.text","v":"Disconnected","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":100,"wires":[["52c3319e.c69ef"]]},{"id":"59d78c86.a8a704","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"9ead6f7d.bea62","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"4","payloadType":"num","topic":"","x":810,"y":680,"wires":[["c2ebdb4a.652a08"]]},{"id":"354caa2.b851956","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"9ead6f7d.bea62","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"5","payloadType":"num","topic":"","x":810,"y":740,"wires":[["c2ebdb4a.652a08"]]},{"id":"a5b087fe.c228a8","type":"ui_button","z":"2b34f6d7.bc7e8a","name":"","group":"9ead6f7d.bea62","order":0,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"#000000","bgcolor":"{{msg.bgcol}}","icon":"","payload":"6","payloadType":"num","topic":"","x":810,"y":800,"wires":[["c2ebdb4a.652a08"]]},{"id":"9bec307a.7470c","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":680,"wires":[["59d78c86.a8a704"]]},{"id":"9780cf54.214ee","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":740,"wires":[["354caa2.b851956"]]},{"id":"f22d67fc.911018","type":"switch","z":"2b34f6d7.bc7e8a","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":800,"wires":[["a5b087fe.c228a8"]]}]